*,
::after,
::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	color: white;
	background-color: rgb(10, 10, 10);
	font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
}

html {
	scroll-behavior: smooth;
}

/* HEADER OF THE PAGE */

.icons {
	width: 20px;
}

.navbar {
	height: 70px;
	padding: 0 3.5rem;
	background-color: rgb(18, 18, 27);
	color: white;
	border: 1px solid rgb(91, 91, 91);

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.navigation-bar-logo {
	height: 100%;
	border-radius: 20px;
	padding: 5px 0;
	transition: background-color 0.15s ease;
}

.AutoInsight {
	height: 100%;
	text-decoration: none;
	color: white;
	padding: 0 15px;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.2rem;
}

.AutoInsight div:first-child {
	height: 80%;
	width: auto;
	background-color: rgb(0, 110, 255);
	border-radius: 15px;
	box-shadow: 0 0 5px rgb(77, 126, 201);

	display: flex;
	align-items: center;
	padding: 10px;
	margin-right: 10px;
}

.AutoInsight div img {
	width: 30px;
}

.AutoInsight .AutoInsight div p:first-child {
	font-size: 1.1rem;
	font-weight: 800;
	letter-spacing: 1.2px;
	text-align: center;
}

.AutoInsight div p:last-child {
	font-size: 0.7rem;
	font-weight: bold;
	color: rgb(181, 181, 181);
}

.navigation-bar {
	height: 100%;
}

.navlist {
	padding: 0 20px;
	height: 100%;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.navlist li {
	display: flex;
	flex-wrap: wrap;
}

.navlist-items {
	margin: 0 5px;
	border-radius: 20px;
	font-weight: 500;
	transition: background-color 0.15s ease;
}

.navlist-items:hover {
	background-color: rgb(42, 42, 50);
}

.navlist-items a {
	padding: 0.5rem 1.5rem;
	font-weight: 500;
	text-decoration: none;
	font-size: 0.9rem;
	color: white;
	display: flex;
	align-items: center;
}

.navlist li:first-child {
	background-color: rgb(26, 135, 255);
}

.navlist-items img {
	width: 1.2rem;
	margin-right: 5px;
	vertical-align: middle;
}

.navbarButtons {
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 10px;
}

.navbarButtons a {
	text-decoration: none;
}

.navbarButtons button {
	padding: 10px 20px;
	border-radius: 20px;
	font-size: 0.92rem;
	font-weight: 500;

	display: flex;
	align-items: center;
	gap: 0.2rem;
	cursor: pointer;
}

.logInButton {
	background-color: transparent;
	color: white;
	border: none;
	transition: background-color 0.15s ease;
}

.logInButton:hover {
	background-color: rgb(42, 42, 50);
}

.signUpButton {
	background-color: rgb(225, 0, 10);
	color: white;
	border: none;
}

.hero-section {
	height: 800px;
	width: auto;
	padding-top: 220px;
	background:
		linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url(../Asset/Images/carBackground.jpg);
	background-repeat: no-repeat;
	background-size: contain;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	gap: 3.5rem;
}

.review-platform {
	font-size: 0.9rem;
	padding: 0.5rem 1rem;
	color: white;
	border: 1px solid rgb(19, 59, 99);
	border-radius: 2rem;

	display: flex;
	width: fit-content;
	align-items: center;
}

.review-platform img {
	width: 20px;
}

.review-platform p {
	color: rgb(209, 213, 220);
	font-weight: bold;
}

.hero-section-text {
	width: 60%;
	margin: 0 auto;
	text-align: center;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.hero-section-text h3 {
	font-size: 4.5rem;
	font-weight: bolder;
	color: rgb(56, 152, 253);
}

.hero-section-text p {
	font-size: 1.4rem;
	letter-spacing: 2px;
	color: rgb(209, 213, 220);
}

.search-car {
	width: 60%;
	height: 80px;
	background-color: rgb(22, 23, 32);
	border: 1px solid rgb(66, 67, 74);
	border-radius: 15px;

	display: flex;
	align-items: center;
	justify-content: start;
}

.search-icon {
	height: 100%;
	width: 5rem;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.search-car img {
	width: 25px;
}

.search-car input {
	height: 100%;
	width: 65%;
	background-color: transparent;
	color: white;
	padding: 15px 0;
	border: none;
	font-size: 1.1rem;
}

.search-car input:focus {
	outline: none;
}

.search-car-button {
	width: 25%;
	height: 95%;
	background-color: red;
	border: none;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;

	color: white;
	font-size: 1rem;
	font-weight: bold;
}

.description-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 3rem;
}

.description-grid div {
	padding: 25px 50px;
	background-color: rgb(18, 19, 27);
	border-radius: 15px;
	border: 1px solid rgb(66, 67, 74);
	text-align: center;
}

.description-grid div h4 {
	color: rgb(76, 158, 252);
	font-size: 2.8rem;
}

.description-grid div p {
	color: rgb(136, 143, 156);
	font-weight: bold;
}

.featured-cars {
	padding: 5rem 0;
}

.view-all {
	padding: 0 4rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.view-all div img {
	width: 30px;
}

.view-all h4 {
	margin-left: 0.5rem;
	margin-bottom: 0.5rem;
	display: inline-block;
	font-weight: bold;
	font-size: 2.5rem;
}

.view-all p {
	color: rgb(153, 161, 175);
	font-size: 1.2rem;
	letter-spacing: 1px;
}

.view-all button {
	padding: 15px 25px;
	color: rgb(30, 144, 255);
	background-color: transparent;
	border-radius: 20px;
	border: 1px solid rgb(66, 67, 74);
	font-size: 1.1rem;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.view-all button img {
	width: 15px;
	margin-left: 5px;
}

.car-cardGrid {
	margin-top: 2rem;
	padding: 0 4rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 1.2rem;
}

.car-card {
	border: 1px solid rgb(53, 53, 59);
	border-radius: 15px;
	cursor: pointer;
}

.car-img-container {
	height: 45%;
}

.car-img-container img {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	width: 100%;
	height: 100%;
}

.car-details {
	height: 55%;
}

.car-description {
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: start;
	gap: 1rem;
}

.car-description > div:first-child {
	display: flex;
	justify-content: space-between;
}

.car-name p:first-child {
	font-size: 1.2rem;
	font-weight: bold;
	color: white;
	margin-bottom: 0.3rem;
}

.car-name p:last-child {
	font-size: 0.9rem;
	color: rgb(135, 161, 175);
}

.ratings {
	height: 40px;
	background-color: rgb(58, 44, 19);
	border: 1px solid rgb(92, 69, 16);
	border-radius: 20px;
	padding: 0.5rem 1.1rem;
	display: flex;
	align-items: center;
	gap: 5px;
}

.reviews {
	font-size: 0.9rem;
	color: rgb(153, 161, 175);
}

.fuel-and-capacity {
	font-size: 0.9rem;
	color: rgb(209, 213, 214);
	display: flex;
	justify-content: space-between;
}

.fuel,
.seat-capacity,
.reviews {
	display: flex;
	justify-content: start;
	align-items: center;
}

.fuel img,
.seat-capacity img,
.reviews img {
	margin-right: 0.3rem;
}

.index-hr {
	margin: 0 auto;
	width: 80%;
	border-top: 1px solid rgb(52, 52, 52);
	border-bottom: none;
}

.car-price {
	padding: 1.5rem;
	margin-bottom: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cost p:first-child {
	font-size: 0.9rem;
	color: rgb(106, 114, 127);
	margin-bottom: 5px;
}

.cost p:last-child {
	font-size: 2rem;
	font-weight: bold;
	color: rgb(89, 162, 250);
}

.view-details {
	padding: 10px 20px;
	background-color: rgb(16, 116, 253);
	color: white;
	border: none;
	border-radius: 20px;
	cursor: pointer;
}

.top-rated-cars {
	margin-top: 3rem;
	margin-bottom: 10rem;
}

.join-us-container {
	background: linear-gradient(90deg, rgb(12, 23, 34), rgb(10, 11, 12));
	padding: 1rem 0;
	margin-bottom: 5rem;
}

.join-us {
	margin: 4rem;
	padding: 3.5rem;
	background-color: rgb(19, 20, 30);
	border: 1px solid rgb(66, 67, 74);
	border-radius: 20px;
	box-shadow: 0 0 10px 7px rgb(14, 41, 65);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	gap: 2rem;
}

.join-us h4 {
	color: white;
	font-size: 2.5rem;
	font-weight: bold;
}

.join-us p {
	text-align: center;
	padding: 0 10rem;
	letter-spacing: 1px;
	color: rgb(209, 213, 220);
	font-size: 1.3rem;
}

.join-us-buttons button {
	padding: 20px 40px;
	margin: 0 10px;
	color: white;
	font-size: 0.9rem;
	font-weight: bold;
	border-radius: 15px;
	cursor: pointer;
}

.join-us-create-account-button {
	background-color: transparent;
	border: 1px solid rgb(53, 53, 59);
	transition: all 0.15s ease;
}

.join-us-create-account-button:hover {
	background-color: rgb(67, 67, 75);
	border: 1px solid rgb(30, 144, 255);
	box-shadow: 0 7px 10px rgb(23, 62, 107);
}

.join-us-write-review-button {
	background-color: rgb(227, 0, 11);
	border: 1px solid rgb(227, 0, 11);
	transition: all 0.15s ease;
}

.join-us-write-review-button:hover {
	box-shadow: 0 5px 15px rgb(183, 33, 41);
}

.footer {
	padding: 3.5rem;
	background: linear-gradient(
		135deg,
		rgb(20, 20, 29),
		rgb(14, 14, 22) 40%,
		rgb(11, 11, 16) 95%
	);
	border: 1px solid rgb(39, 39, 46);
}

.upper-footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 3rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.upper-footer-section h3 {
	font-size: 1.3rem;
	font-weight: bold;
	color: white;
	padding-bottom: 1rem;
}

.upper-footer-section p {
	color: rgb(120, 137, 143);
	font-size: 0.9rem;
	font-weight: bold;
	line-height: 20px;
}

.upper-footer-section h4 {
	font-size: 1.2rem;
	font-weight: bold;
	color: white;
	padding-bottom: 1.5rem;
}

.footer-list {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	gap: 1rem;
}

.footer-list li {
	list-style-type: none;
	cursor: pointer;
}

.footer-list li a {
	text-decoration: none;
	font-size: 0.9rem;
	font-weight: bold;
	color: rgb(161, 166, 181);
	transition: color 0.15s ease;
}

.footer-list li a:hover {
	color: rgb(30, 144, 255);
}

.footer-hr {
	width: 95%;
	margin: 2rem auto;
}

.lower-footer {
	text-align: center;
}

.lower-footer p {
	color: rgb(106, 114, 130);
	font-size: 0.9rem;
	font-weight: bold;
}
